/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $color-3;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $color-4;
  }
  
  .error {
    background-color: $color-5;
  }
  
  .info {
    background-color: $color-6;
  }
  
  .success {
    background-color: $color-7;
  }
  
  .warning {
    background-color: $color-8;
  }